<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

  <distributable/>

  <display-name>jBPM Form Modeler</display-name>

  <listener>
    <listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
  </listener>
  <listener>
    <listener-class>org.jboss.solder.servlet.event.ServletEventBridgeListener</listener-class>
  </listener>

  <!-- UF -->
  <filter>
    <filter-name>UberFire Security Filter</filter-name>
    <filter-class>org.uberfire.security.server.UberFireSecurityFilter</filter-class>
    <init-param>
      <param-name>org.uberfire.cookie.id</param-name>
      <param-value>formModeler.standalone</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>UberFire Security Filter</filter-name>
    <url-pattern>/org.jbpm.formModeler.jBPMFormModeler/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>UberFireServlet</servlet-name>
    <servlet-class>org.uberfire.server.UberfireServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>UberFireServlet</servlet-name>
    <url-pattern>/org.jbpm.formModeler.jBPMFormModeler/jBPM.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ErraiServlet</servlet-name>
    <servlet-class>org.jboss.errai.bus.server.servlet.DefaultBlockingServlet</servlet-class>
    <init-param>
      <param-name>service-locator</param-name>
      <param-value>org.jboss.errai.cdi.server.CDIServiceLocator</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>ErraiServlet</servlet-name>
    <url-pattern>*.erraiBus</url-pattern>
  </servlet-mapping>

  <resource-env-ref>
    <description>Object factory for the CDI Bean Manager</description>
    <resource-env-ref-name>BeanManager</resource-env-ref-name>
    <resource-env-ref-type>javax.enterprise.inject.spi.BeanManager</resource-env-ref-type>
  </resource-env-ref>

  <resource-env-ref>
    <description>Object factory for the Errai Service</description>
    <resource-env-ref-name>ErraiService</resource-env-ref-name>
    <resource-env-ref-type>org.jboss.errai.bus.server.service.ErraiService</resource-env-ref-type>
  </resource-env-ref>

  <context-param>
    <param-name>errai.properties</param-name>
    <param-value>/WEB-INF/errai.properties</param-value>
  </context-param>

  <context-param>
    <param-name>login.config</param-name>
    <param-value>/WEB-INF/login.config</param-value>
  </context-param>

  <context-param>
    <param-name>users.properties</param-name>
    <param-value>/WEB-INF/users.properties</param-value>
  </context-param>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!-- END UF -->


  <!-- the number within the session-timout element must be expressed in
minutes. it is now 24 hours. -->
  <session-config>
    <session-timeout>1440</session-timeout>
  </session-config>

    <!-- start form-modeler component -->
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>org.jbpm.formModeler.service.bb.mvc.controller.ControllerServlet</servlet-class>
        <init-param>
            <param-name>base.app.dir</param-name>
            <param-value>${project.basedir}/target/${project.artifactId}-${project.version}</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/org.jbpm.formModeler.jBPMFormModeler/Controller</url-pattern>
    </servlet-mapping>
    <!-- end form-modeler component -->
  <!-- jBoss' default mapping is to "image/svg", which causes the client
not to parse the SVG content as XML. However, the Oryx Editor client relies
on that behaviour. The mimetype as per W3C specification must be "image/svg+xml".
See http://www.w3.org/TR/SVG/intro.html#MIMEType. -->
  <mime-mapping>
    <extension>svg</extension>
    <mime-type>image/svg+xml</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>json</extension>
    <mime-type>application/json</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>css</extension>
    <mime-type>text/css</mime-type>
  </mime-mapping>
  <!-- Set Favourites Icon MIME-Type -->
  <mime-mapping>
    <extension>ico</extension>
    <mime-type>image/x-icon</mime-type>
  </mime-mapping>
</web-app>
